.cell {
  width: 200px;
  height: 40px;
  text-align: center;
  color: rgb(70, 66, 66);
  font-weight: 400;
  color: rgb(155, 161, 163);
}

.cell + .cell {
  border-left: 2px solid white;
}

.cell::first-letter {
  text-transform: uppercase;
}
